@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Karla', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(to right, #a8c0ff, #9c8cdf); */
  /* background: linear-gradient(to right, #74ebd5, #acb6e5); */
  background: linear-gradient(to right, #1b1838, #3e3880, #3c3c61);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 480px) {
  body {
    background: #f5f5f5;
  }
}
